body {
    background-color: #DAE5FA;
}

h1 {
    
    color: #1D335F;
    font-family: verdana;
    font-size: 200;
}

p {
    color: #123575;
    font-family: verdana;
    font-size: 120;
}


ul {
    color: #404F6A;
    font-family: verdana;
    font-size: 100;
}
